import("DBI") 
import("ade4")
import("amap")
import("cluster")
import("doBy")
import("data.table")
import("FactoMineR")
import("foreign")
import("maptools")
import("MASS")
import("sp")
import("SOAR")
export(
"CodRegsGearCodes",
"create.grid",
"dBConnect",
"DCFGearCodes",
"DCFLengthCats",
"DCFMeshCategory",
"DCFPowerCats",
"FishingActivityFromSpeed",
"formatEflalo2",
"formatTacsat",
"FrisbeDatesToRDates",
"GetAllData",
"GetDataBTS",
"GetDataBTSAllLfsAndChrons",
"GetDataCatches",
"GetDataDaysAtSeaByRegistration",
"GetDataDaysAtSeaWithLandingsByRegistration",
"GetDataDaysAtSeaWithLandingsByRegistrationByMetier",
"GetDataDFS",
"GetDataDiscards",
"GetDataDiscardsBySpecies",
"GetDataEflalo",
"GetDataFrisbeOption1",
"GetDataFrisbeOption2and3",
"GetDataGIZEggSurvey",
"GetDataHALAEggSurvey",
"GetDataLandings",
"GetDataLandingValueByRegistration",
"GetDataPrice",
"GetDataSizeClasses",
"GetDataSNS",
"GetDataTacsat",
"GetDataVMS",
"GetDataVMSAndLogbook",
"GetDataWGMixFish",
"GetInfoFrisbe",
"GetInfoVisstat",
"GetMissingMeshSize",
"GetPlatformProperties",
"largest.objects",
"Nephrops.FU",
"PassiveOrStatic",
"plot.map.with.statrects",
"plot.eflalo.on.statsquare",
"predict.na",
"qtr.f",
"qtrlowercase.f",
"ReformatDate",
"ReformatTime",
"SNIJExceptions",
"SNIJSelectGeo",
"SNIJSelectGeoNOPRINT",
"trend.f",
"WriteSQLString",
"RaiseNumbers",
"RaiseNumbersBOOT",
"GetDerivativesAgeSex",
"GetDerivativesAge",
"GetDerivativesLength",
"VarMatrixSimpleAge",
"VarMatrixSimpleLength",
"VarMatrixSimpleAgeSex",
"vectorise",
"WGMixFishLengthCats",
"WriteSQLString"
)